@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;800;900&display=swap");

body {
    background-image: url(./assets/img/Pacmangif.gif);
    height: 100vh;
    width: 100vw;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: "Inter", sans-serif;
}

.fundo-preto{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(0,0,0,0.9);
}

p {
    font-family: "Minecraft";
}

#titulo {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Minecraft";
}

#titulo h1 {
    text-align: center;
    font-size: 30px;
    color: magenta;
}

#jogos {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;

    text-decoration: none;
    font-family: "Jelly";
}

#jogos a {
    text-decoration: none;
    color: yellow;
}
#jogos a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 900px) {
    #titulo h1 {
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 50px;
    }
    #jogos {
        font-size: 25px;
    }
   
    
}
