@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;800;900&display=swap");

.animacaoJogador {
    position: relative;
    animation-name: animacaoJogador;
    animation-duration: 5s;
    transform: rotate(15deg);
}

.animacaoComputador {
    position: relative;
    animation-name: animacaoComputador;
    animation-duration: 5s;
    transform: rotate(-20deg);
}

@keyframes animacaoJogador {
    0%   {left:-100px; top:0px;}
    25%  {left: 0px; top:0px;}
    30%  {left: -20px; top:0px;}
    32%  {left: 0px; top:0px;}
}

@keyframes animacaoComputador {
    0%   {right: -100px; top:0px;}
    25%  {right: 0px; top:0px;}
    30%  {right: -20px; top:0px;}
    32%  {right: 0px; top:0px;}
}

body {
    background-image: url("../images/Background-Zumbi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-display {
    background-color: rgb(68, 60, 102, 0.7);
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    margin-top: -200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 5px rgb(102, 51, 153, 0.6) solid;
}

.blocker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.instrucoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    background-color: rgb(68, 60, 102);
    color: white;
    width: 500px;
    padding: 25px 0;
    border-radius: 10px 10px 10px 10px;
    border: 5px rgb(102, 51, 153, 0.6) solid;
}

.instrucoes p {
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#papel {
    width: 50px;
}

#pedra {
    width: 50px;
}

#tesoura {
    width: 50px;
}

#scoreTable {
    width: 300px;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

tr {
    display: flex;
}

td {
    border: 2px #663399 solid;
    width: 35px;
    height: 50px;
    min-height: 50px;
    max-width: 35px;
    background-color: rgb(68, 60, 102, 0.7);
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

td img {
    display: block;
    margin: auto;
    width: 25px;
}

#campo-nome {
    background-color: #663399;
    border: 2px solid #bd93f9;
    border-radius: 4px;
    box-shadow: #03a161;
    box-sizing: border-box;
    color: #f8f8f2;
    padding: 12px 35px;
    margin: 8px 0;
    display: inline-block;
    font-size: 13px;
}

#campo-nome:focus {
    background-color: #663399;
    border: 2px solid #bd93f9;
    outline: none;
    border-radius: 4px;
    box-shadow: #03a161;
    box-sizing: border-box;
    color: #f8f8f2;
    padding: 12px 35px;
    margin: 8px 0;
    display: inline-block;
    font-size: 13px;
}

#campo-nome::placeholder {
    color: #f8f8f2;
}

#confirma-nome {
    background-color: #50fa7b;
    border-style: none;
    border-radius: 3px;
    padding: 7px 7px 7px 7px;
    font-weight: 700;
    color: #663399;
}

#confirma-nome:hover {
    box-shadow: -4px -3px #04d481;
    transition: all 0.4s;
    text-decoration: underline;
    font-weight: 700;
    color: #663399;
}

#player-name {
    color: #f1fa8c;
    padding-left: 5px;
    font-weight: 600;
    font-size: 1rem;
    width: 110px;
    max-width: none;
}

#computer {
    color: #f1fa8c;
    padding-left: 5px;
    font-weight: 600;
    font-size: 1rem;
    width: 110px;
    max-width: none;
}

#buttons {
    display: flex;
}

#buttons button {
    transition: all 0.4s;
    background-color: #50fa7b;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    color: #663399;
    font-weight: 700;
    border-style: none;
    margin-right: 15px;
}

#buttons button:hover {
    box-shadow: -4px -3px #04d481;
    text-decoration: underline;
}

#buttons a {
    transition: all 0.4s;
    background-color: #50fa7b;
    padding: 7px 7px 7px 7px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
    text-decoration: none;
    color: #663399;
    font-weight: 600;
}

#buttons a:hover {
    box-shadow: -4px -3px #04d481;
    text-decoration: underline;
}

#howToPlay {
    color: red;
}

.hidden {
    display: none;
}

.winner {
    box-sizing: border-box;
    border: 3px #50fa7b solid;
    width: 35px;
    height: 54px;
    min-width: 39px;
    min-height: 50px;
    max-width: 35px;
}

/* DESKTOP */
@media only screen and (min-width: 900px) {
    body {
        background-image: url("../../assets/images/Background-Zumbi.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 100vh;
    }

    main {
        height: 480px;
    }

    .game-display {
        background-color: rgb(68, 60, 102, 0.7);
        width: 600px;
        height: 300px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 5px rgb(102, 51, 153, 0.6) solid;
    }

    #papel {
        width: 120px;
    }

    #pedra {
        width: 120px;
    }

    #tesoura {
        width: 120px;
    }

    /* #tesoura {
        transform: rotate(55deg);
    } */

    #campo-nome {
        background-color: #50fa7b;
        box-shadow: #03a161;
        border: 2px solid #ff5555;
        padding: 12px 35px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 15px;
    }

    #scoreTable {
        display: flex;
        width: 550px;
        min-width: 550px;
        height: 100px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    td {
        border: 3px rgb(102, 51, 153, 0.7) solid;
        width: 60px;
        min-width: 60px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(68, 60, 102, 0.8);
    }

    #player-name {
        color: #f1fa8c;
        padding-left: 5px;
        font-weight: 600;
        font-size: 1.3rem;
        width: 160px;
    }

    #computer {
        color: #f1fa8c;
        padding-left: 5px;
        font-weight: 600;
        font-size: 1.3rem;
        width: 160px;
    }

    #homeButton, #closeRules {
        transition: all 0.4s;
        background-color: #50fa7b;
        padding: 7px 7px 7px 7px;
        border-radius: 5px;
        margin-top: 10px;
        text-decoration: none;
        color: #663399;
        font-weight: 700;
    }

    #homeButton:hover, #closeRules:hover {
        box-shadow: -4px -3px #03a161;
        text-decoration: underline;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #663399;
        font-weight: bold;
    }

    #campo-nome {
        background-color: #663399;
        border: 2px solid #bd93f9;
        border-radius: 4px;
        box-shadow: #03a161;
        box-sizing: border-box;
        color: #f8f8f2;
        padding: 12px 35px;
        margin: 8px 0;
        display: inline-block;
        font-size: 13px;
    }

    #campo-nome:focus {
        background-color: #663399;
        border: 2px solid #bd93f9;
        outline: none;
        border-radius: 4px;
        box-shadow: #03a161;
        box-sizing: border-box;
        color: #f8f8f2;
        padding: 12px 35px;
        margin: 8px 0;
        display: inline-block;
        font-size: 13px;
    }

    #campo-nome::placeholder {
        color: #f8f8f2;
    }

    #confirma-nome {
        transition: all 0.4s;
        background-color: #50fa7b;
        padding: 7px 7px 7px 7px;
        border-radius: 5px;
        margin-top: 10px;
        text-decoration: none;
        color: #663399;
        font-weight: 700;
    }

    .winner {
        border: 4px #50fa7b solid;
        box-sizing: border-box;
        border-radius: 3px;

        min-width: 66px;
        min-height: 56px;
        max-width: 35px;
    }

    .blocker {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 100vh;
    }
    
    .instrucoes {
        position: fixed;
        z-index: 2;
        background-color: rgb(68, 60, 102);
        color: white;
        width: 500px;
        padding: 25px 0;
        border-radius: 10px 10px 10px 10px;
        border: 5px rgb(102, 51, 153, 0.6) solid;
    }
    
    .instrucoes p {
        width: 400px;
    }
}

/*
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  0%   {background-color:red; left:-100px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue;}
}
*/