body {
    background-image: url("../images/Background-Zumbi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: inter;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-display {
    background-color: #8e5ebc;
    width: 300px;
    height: 450px;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 5px #663399 solid;
}

#papel {
    width: 50px;
}

#pedra {
    width: 50px;
}

#tesoura {
    width: 50px;
    /* rotate: */
}

td {
    border: 2px #50fa7b solid;
    width: 20px;
    height: 20px;
    background-color: #663399;
    border-radius: 5px;
}

td img {
    display: block;
    margin: auto;
    width: 25px;
}

#campo-nome {
    background-color: #03a161;
    box-shadow: #03a161;
    border: 1px solid #bd93f9;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;

}

#confirma-nome {}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreTable {
    background-color: #8e5ebc;
    width: 300px;
    font-size: 15px;
}

#homeButton {
    transition: all 0.4s;
    background-color: #04d481;
    padding: 7px 7px 7px 7px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    color: #663399;
    font-weight: 700;
}

.hidden {
    display: none;
}

.winner {
    background-color: #333;
    border: 2px solid black;
}

/* DESKTOP */
@media only screen and (min-width: 900px) {
    body {
        background-image: url("../../assets/images/Background-Zumbi.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 100vh;
        font-family: inter;
    }

    main {
        height: 480px;
    }

    .game-display {
        background-color: #443c66;
        width: 600px;
        height: 300px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #papel {
        width: 120px;
    }

    #pedra {
        width: 120px;
    }

    #tesoura {
        width: 120px;
        /* rotate: */
    }

    /* #tesoura {
        transform: rotate(55deg);
    } */

    td {
        border: 2px #663399 solid;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: #443c66;
    }

    #campo-nome {
        background-color: #04d481;
        box-shadow: #03a161;
        border: 2px solid #663399;
        padding: 12px 35px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 15px
    }

    #scoreTable {
        background-color: #663399;
        width: 550px;
        height: 100px;
        border-radius: 5px;
    }

    #player-name {
        color: #ff79c6;
        padding-left: 5px;
        font-weight: 600;
        font-size: 1.3rem;
    }

    #computer {
        color: #ff79c6;
        padding-left: 5px;
        font-weight: 600;
        font-size: 1.3rem;
    }

    #homeButton {
        transition: all 0.4s;
        background-color: #50fa7b;
        padding: 7px 7px 7px 7px;
        border-radius: 5px;
        margin-top: 10px;
        text-decoration: none;
        color: #663399;
        font-weight: 700;
    }

    #homeButton:hover {
        box-shadow: -4px -3px #03a161;
        text-decoration: underline;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #663399;
        font-weight: bold;
    }



    #campo-nome {}

    #confirma-nome {
        transition: all 0.4s;
        background-color: #50fa7b;
        padding: 7px 7px 7px 7px;
        border-radius: 5px;
        margin-top: 10px;
        text-decoration: none;
        color: #663399;
        font-weight: 700;
    }

    .animacao-mao-player {}

    .animacao-mao-computer {}
}

/*
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  0%   {background-color:red; left:-100px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue;}
}
*/