.tabela{
    margin: 0 auto;
}
td{
    padding: 5px;
    border: 1px solid #000;
    background-color: white;
    transition: background-color 0.25s;
}
td:hover{
    background-color: #ccc;
    cursor: pointer;
}

/* == Classes para JS === */


.letter-box--selected {
    background-color: gray;
    transition: background-color 0.25s;
}

.letter-box--correct {
    background-color: green;
}

.letter-box--wrong {
    background-color: red;
}
/* ====================== */