body{
    /* background-image: url('../img/tumblr_1e279795b8b09b8929f3a2f0ee81a199_b5557fc8_1280.gif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 120vh;
    object-fit: cover; */
    background-color: #ECECEC;
    height: 100vh;
    
    color: #563232;
}


#nome{
    padding: 10px;
    border: 2px solid #3B4CCA;
    border-radius: 5px;
}
#btn-nome{
    color: #fff;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #FFDE00;
    border: 2px solid #3B4CCA;
    border-radius: 5px;
}

.container{

    
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

.palavras-para-achar__titutlo{
    text-align: center;
}

.container-tabela{
    border: 2px solid #d4f0fc;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
}

.container-tabela{
    min-width: 305px;
    max-width: 305px;
    height: 300px;
}
.inserir-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}
.tabela{
    margin: auto;
    width: 100%;
}
td{
    padding: 7px;

    background-color: white;
    transition: background-color 0.25s;
    text-align: center;
}
td:hover{
    background-color: #ccc;
    cursor: pointer;
}
.hidden{
    display: none;
}

/* == Classes para JS === */


.letter-box--selected {
    background-color: rgb(255, 0, 0);
    transition: background-color 0.25s;
}

.letter-box--correct {
    background-color: rgb(0, 170, 0);
}
/* ====================== */